<div>
    <h2>Messages:</h2>
</div>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Audit messages
            </mat-panel-title>
            <mat-panel-description>
                Messages ({{messageService.getMessages().length}})
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let message of messageService.getMessages()">
                {{message}}
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>

<br>

<button mat-raised-button color="warn" (click)="messageService.clear()">Clear Messages</button>