.heroes-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h1 {
        margin: 0;
    }
}

mat-row {
    cursor: pointer;

    &:hover {
        filter: brightness(0.95);
    }
}