.heroes-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
  }
}

mat-row {
  cursor: pointer;

  &:hover {
    filter: brightness(0.95);
  }
}

button.delete-icon {
  mat-icon {
    color: #f44336;
  }
}

button.edit-icon {
  mat-icon {
    color: #f25f00;
  }
}

button.delete-icon,
button.edit-icon {
  transition: 0.3s;
}

button.delete-icon:hover,
button.edit-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

.mat-column-id {
  max-width: 80px;
}

.mat-column-actions {
  max-width: 100px;
}
